<h1>ユーザモード切り替え画面</h1>
<%= "現在#{current_user.name}様は#{current_user.is_designer}モードです。"%>
！ 切り替えにあたっては必ず下記全てご確認をお願いします ！


現在xxx 様はviewerモードです。designerモードへの変更により、以下の操作が行えるようになります。
・作品情報の投稿、編集、削除　※過去にデザイナーとして登録し投稿した商品がある場合には、デザイナーモードに切り替えることで編集を行うことができるようになります。
・投稿した作品を、他のユーザが閲覧できるようになります
・過去にデザイナーモードで作品を投稿したことがあるか
・デザイナー一覧ページに、あなたのニックネーム、イメージ画像、紹介文、情報が掲載されます

 <%= link_to 'モードを切り替える',user_mode_change_path(current_user), method: :patch, data: { confirm: "【確認】モードの変更を行います。" }%>


