    <div class = 'container mode-select'>
      <div class="page-header">
        <h1>ユーザモード切り替え画面</h1>
      </div>
      <div class = 'mode-select-text'>
        <p class = 'caution'>！ 切り替えにあたっては必ず下記全てご確認をお願いします ！</p>
        <%if current_user.is_designer? == false%>
          <p><%="現在 #{current_user.name} 様は viewerモードです"%><br>
          ・designerモードへの変更により,
          デザイナー一覧ページにあなたの情報が掲載されます。</p>
        <% else %>
          <%="現在 #{current_user.name} 様は designerモードです"%>
          <p>・viewerモードへの変更により
          デザイナー一覧ページにあなたの情報が掲載されなくなります。<br>
          ・現在投稿されている商品は非表示モードに切り替えない限り表示され続けますのでご注意ください</p>
        <% end %>
      </div>
      <div class = 'actions'>
       <%= link_to 'モードを切り替える',user_mode_change_path(current_user), method: :patch, data: { confirm: "【確認】モードの変更を行います。" },class:"btn btn-primary"%>
       </div>
    </div>

