<div class = 'row'>
  <div class = "col-md-offset-3 col-md-6 consept">
    <div class = "consept-text">
    <h1>CONSEPT</h1>
    投稿型のイヤリング、ピアス検索サイトです。
    「大規模ショップやブランドでは買えないような商品を探したい」<br>
    「アレルギーの有無などをもとに、ニーズにあった商品を探したい」<br>
    という方。<br>
    「多くの方に作品を知って欲しい」,
    「もっとたくさんの人にインスタグラムやHPに来てもらいたい」,
    「他のフリーデザイナーの作品を新しく見つけてみたい」という思いをもつデザイナーさん。<br>
    一つのサイト内で手軽に比較検討し、本当に自分にあった商品、デザイナーさんとの
    よい出会いの場になればという思いから生まれました。</br>
    </div>
  </div>
</div>