<h1>商品一覧ページ</h1>
<div class="container">
  <div class="row">
    <h1 class="under-border">商品一覧</h1>
    <div class="col-xs-11">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>商品説明<th>
            <th>税抜価格</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name,product_path(product.id) %></td>
              <td><%= product.explanation %></td>
              <td><%= product.price %></td>
              <td>
                <% if product.is_sold_one %>
                  片方のみ販売可
                <% else %>
                  片方のみの販売不可
                <% end %>
              </td>

                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

